<header id="header">
  <div class="flex-holder">
    <div class="logo-holder">
      <a href="/" class="logo">
        <img class="desktop" src="/assets/images/logo.png" width="110" height="47" alt="">
        <img class="mobile" src="/assets/images/mobile-logo.png" width="20" height="48" alt="">
      </a>
    </div>
  
    <nav class="header-nav">
      <ul>
        <li class="active">
          <a href="#">Disponibili</a>
        </li>
        <li>
          <a href="#">Acquistati</a>
        </li>
      </ul>
    </nav>

    <div class="header-actions flex-holder">
      <div class="buy-credits actions-item flex-holder">
        <a href="#" class="btn buy-credits-btn">
          <span class="icon icon-wallet"></span>
          <span class="text">Acquista Crediti</span>
           31
        </a>
      </div>
      <div class="account-info actions-item flex-holder">
        <div class="user-photo">
            <img src="/assets/images/user.png" alt="">
        </div>
        <div class="user-name">
          <span class="icon icon-chevron"></span>
          <span class="name">Robert Edwards</span>
        </div>
      </div>
    </div>
  </div>
  
</header>