// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: $headings-font-family;
	font-weight: 300;
	margin: 0 0 0.5em;
	color: $dark-gray;
	// letter-spacing: 1px;
}

h1, .h1 {
	font-size: $h1-font-size;
}

h2, .h2 {
	font-size: $h2-font-size;
	line-height: 30px;
	margin: 0 0 26px;
}

h3, .h3 {
	font-size: $h3-font-size;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 1em;
}

a {
	text-decoration: underline;
	transition: color $anim-speed, background $anim-speed;
	outline: none;
	color: $base-link-color;
	&:hover {
		color: darken($orange, 15%);
	}
}

strong {
	font-weight: 500;
}

blockquote {
	font-size: 18px;
	font-style: italic;
	letter-spacing: -1px;
	color: $brand-color-5;
	background: #fbe7d1;
	margin: 0;
	padding: 23px 17px 22px;
	letter-spacing: -0.5px;
	@include media('>=desktop') {
		padding: 20px 39px;
	}
	p {
		margin: 0;
	}
}